body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color:#4c4c4c;
}


.App{
  display: grid;
	grid-template-rows: 100px 300px auto 50px;
	grid-template-columns: 1fr;
	height: 100vh;
}

.Graph{
  margin:auto;
  display:flex;
}

.Graph .IndividualGraph{
  float:left;
}

ul.ConsoleMessages{
  list-style: none;
  padding:0;
  margin:0;
  text-align: left;
  background-color:#3e3e3e;
  padding:10px;
  overflow: auto;
}

ul.ConsoleMessages li{
  display:flex;
  margin-bottom: 5px;
  font-size: 12px;
}

ul.ConsoleMessages li div.time{
  flex: 0 0 100px;
  font-size:0.85em;
}

ul.ConsoleMessages li div.action{
  flex: 0 0 160px;
}
ul.ConsoleMessages li div.performance{
  flex: 0 0 85px;
}
ul.ConsoleMessages li div.action.Fetch{
  color:rgba(247, 77, 255);
}
ul.ConsoleMessages li div.action.Use{
  color:rgb(67, 233, 130);
}
ul.ConsoleMessages li div.action.Save{
  color:rgb(55, 160, 255);
}
ul.ConsoleMessages li div.source{
  flex: 0 0 160px;
}
ul.ConsoleMessages li div.source.MemoryCache{
  color:#45e882;
}
ul.ConsoleMessages li div.source.PersistentStorageCache{
  color:#e0ac2c;
}
ul.ConsoleMessages li div.source.HttpRequest{
  color:#ff6060;
}
ul.ConsoleMessages li div.performance span.size{
  font-size: 0.7em;
  margin-left: 3px;
  color: #b7b7b7;
}
ul.ConsoleMessages li div.idurl{
  flex:1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
ul.ConsoleMessages > li:nth-of-type(odd) {
  background: #4c4c4c;
}
ul.ConsoleMessages li.line-use{
  background-color: rgba(71, 153, 102, 0.5);
  color: #490650;
}

ul.ConsoleMessages li.line-error{
  background-color: rgba(253, 60, 0, 0.4);
  color: #490650;
  animation: backgrounderror 8s infinite;
}
@keyframes backgrounderror {
  0%     {  background-color: rgba(253, 60, 0, 0.2);}
  20%     {  background-color: rgba(253, 60, 0, 0.2);}
  25%  {  background-color: rgba(253, 60, 0, 0.8);}
  30%  {  background-color: rgba(253, 60, 0, 0.5);}
  35%  {  background-color: rgba(253, 60, 0, 0.8);}
  40%  {  background-color: rgba(253, 60, 0, 0.5);}
  55%  {  background-color: rgba(253, 60, 0, 0.8);}
  80%  {  background-color: rgba(253, 60, 0, 0.2);}
  100%  {  background-color: rgba(253, 60, 0, 0.2);}
}
.Summary{
  display:flex;
  background-color: #3e3e3e;
  color:#ffe0fd;
}
.Summary .summary-box{
  flex: 0 0 150px;
  margin:auto;
}

.Summary .summary-box .summary-box-label{
  font-size:16px;
}

.Summary .summary-box .summary-box-value{
  font-size:48px;
  text-shadow: #4b0d5f -1px 1px 5px, #e15df9 1px 1px 3px;
}

.ActionsPanel{
  display:flex;
}

button, 
.actionInput{
  width: 200px;
  margin: 3px;

}
.actionInput{
  border: 1px solid #778387;
  line-height: 40px;
}
button{


  background-color: #778488;
  border-color: #404040;
  cursor: pointer;
}

button:hover{
  background-color: #94a5aa;
}

button:active {
  background: rgb(180, 246, 255);
}